.board{
  &-creator{
    &-form {
      background-color: #ebecf0;
      color: #172b4d;
      user-select: none;
      width: 272px;
      margin: 0 8px;
      box-sizing: border-box;
      vertical-align: top;
      white-space: nowrap;
      border-radius: 3px;
      height: auto;
      min-height: 32px;
      padding: 4px;
      &__input {
        white-space: nowrap;
        font: inherit;
        font-size: 14px;
        font-weight: 400;
        color: #172b4d;
        box-sizing: border-box;
        border-radius: 3px;
        line-height: 20px;
        padding: 8px 12px;
        background: #fff;
        border: none;
        box-shadow: inset 0 0 0 2px #0079bf;
        display: block;
        margin: 0;
        width: 100%;
      }
      &__footer {
        color: #172b4d;
        white-space: nowrap;
        height: 32px;
        overflow: hidden;
        margin: 4px 0 0;
        display: flex;
        &-input {
          margin: 0 4px 0 0;
          padding: 4px 12px;
          min-height: 32px;
          height: 32px;
          background-color: #5aac44;
          box-sizing: border-box;
          border-radius: 3px;
          cursor: pointer;
          font-weight: 400;
          line-height: 20px;
          text-align: center;
          box-shadow: none;
          border: none;
          color: #fff;
        }
      }
      &__close {
        white-space: nowrap;
        background-color: transparent;
        -webkit-font-smoothing: antialiased;
        font-style: normal;
        font-weight: 400;
        text-align: center;
        text-decoration: none;
        font-size: 28px;
        height: 32px;
        line-height: 32px;
        width: 32px;
        color: #42526e;
        cursor: pointer;
      }
    }
  }
  &-content-list__item {
    user-select: none;
    width: 272px;
    margin: 0 8px 4px 8px;
    background-color: lightgrey;
    border-radius: 3px;
    box-sizing: border-box;
    vertical-align: top;
    height: auto;
    transition: background 85ms ease-in,opacity 40ms ease-in,border-color 85ms ease-in;
  }
  &-list{
    &-header {
      padding: 5px;
      min-height: 32px;
      white-space: nowrap;
      border-radius: 3px;
      user-select: none;
      transition: color 85ms ease-in;
      background-color: rgba(0, 0, 0, .08);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__title {

      }
      &__icon {
        padding: 0 7px 7px 7px;
        font-weight: 400;
        font-size: 18px;
        color: #6b778c;
        border-radius: 3px;
        &:hover {
          background-color: rgba(0, 0, 0, .08);
        }
      }
    }
    &:hover {
      background-color: silver;
    }
    &-add {
      user-select: none;
      white-space: normal;
      min-height: 38px;
      max-height: 38px;
      display: flex;
      justify-content: space-between;
      &__card {
        white-space: normal;
        background-color: transparent;
        border-radius: 3px;
        color: #5e6c84;
        display: block;
        flex: 1 0 auto;
        margin: 4px;
        padding: 4px 8px;
        position: relative;
        text-decoration: none;
        user-select: none;
        cursor: pointer;
        &:hover {
          background-color: rgba(0, 0, 0, .08);
        }
      }
      &__icon-add {
        white-space: normal;
        user-select: none;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        text-align: center;
        text-decoration: none;
        vertical-align: bottom;
        height: 20px;
        line-height: 20px;
        width: 20px;
        color: #6b778c;
        margin-right: 2px;
      }
      &__title {
        white-space: normal;
        color: #5e6c84;
        user-select: none;
        &-another {
          white-space: normal;
          color: #5e6c84;
          user-select: none;
          display: none;
        }
      }
    }
    &-name {
      border-radius: 3px;
      color: black;
      background-color: transparent;
      height: 32px;
      max-width: 300px;
      font-size: 18px;
      font-weight: 700;
      line-height: 32px;
      cursor: pointer;
      position: relative;
      text-decoration: none;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      & input[type="text"] {
        width: 100%;
        padding-left: 5px;
        color: black;
        background: transparent;
        font-size: 18px;
        border: none;
        border-radius: 3px;
        box-sizing: border-box;
        cursor: pointer;
      }

      &__variant {
        height: 32px;
        font-size: 18px;
        font-weight: 700;
        line-height: 32px;
        cursor: default;

        & input[type="text"] {
          padding-left: 5px;
          border: 1px solid #0079bf;
          border-radius: 3px;
          cursor: pointer;
        }
      }
    }
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}

.show-creator {
  display: flex;
}
