$color-bg: hsla(0, 0%, 100%, .3);
$color-bg-trello: #026aa7;
$color-font: #fff;

%style-navbar {
  margin: 0 4px 0 0;
  border-radius: 3px;
  border: 0;
  height: 32px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
  line-height: 32px;
  color: $color-font;
  background-color: $color-bg;
  align-items: center;
  box-shadow: none;
  display: flex;
}
.header {
  padding: 4px  20px 4px 20px;
  height: 32px;
  min-height: 40px;
  background: $color-bg-trello;
  position: relative;
  overflow: hidden;
  z-index: 10;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  &-nav {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    &-home {
      padding: 0;
      font-size: 14px;
      @extend %style-navbar;
      transition: .1s ease;
      white-space: nowrap;
      &__icon {
        color: #fff;
        font-size: 20px;
        height: 32px;
        line-height: 32px;
        width: 32px;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-weight: 400;
        text-align: center;
        text-decoration: none;
        vertical-align: bottom;
        cursor: pointer;
        white-space: nowrap;
      }
    }
    &__button {
      @extend %style-navbar;
      padding: 0;
      transition: .1s ease;
      white-space: nowrap;
      box-sizing: border-box;
      -webkit-appearance: none;
      position: relative;
      font-size: 14px;
      text-transform: none;
      overflow: visible;
    }
    &__icon {
      color: #fff !important;
      font-size: 20px;
      height: 32px;
      line-height: 32px;
      width: 32px;
      cursor: pointer;
      text-transform: none;
    }
    &__title {
      transition: .1s ease;
      overflow: hidden;
      padding: 0 8px 0 2px;
      max-width: 150px;
    }
  }
  &-logo {
    display: block;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    top: 5px;
  }
}

a {
  color: #172b4d;
  background-color: transparent;
  cursor: pointer;
  text-decoration: underline;
}

.header-logo {
  &__icon1 {
    background-image: url(https://a.trellocdn.com/prgb/dist/images/header-loading-logo.d73159084f5122775d4d.gif);
    background-size: 18px 18px;
    display: inline-block;
    opacity: 0;
    height: 18px;
    right: 59px;
    position: absolute;
    top: 6px;
    width: 18px;
  }
  &__icon2 {
    opacity: .5;
    background-image: url(https://a.trellocdn.com/prgb/dist/images/header-logo-2x.01ef898811a879595cea.png);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: 80px 30px;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    width: 80px;
  }
  &-title {
    color: #fff;
    display: block;
    font-size: 10px;
    font-weight: 700;
    line-height: 10px;
    opacity: .5;
    text-align: center;
    text-transform: uppercase;
  }
}

a:hover {
  color: #091e42;
}

button {
  box-sizing: border-box;
  -webkit-appearance: none;
  position: relative;
  text-transform: none;
  overflow: visible;
  font: inherit;
}

.header-userbar {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  &-newboard {
    @extend %style-navbar;
    padding: 0;
    transition: .1s ease;
    white-space: nowrap;
    &__add {
      color: #fff !important;
      font-size: 20px;
      height: 32px;
      line-height: 32px;
      width: 32px;
      cursor: pointer;
    }
  }
  &-user {
    border: none;
    box-shadow: none;
    color: #172b4d;
    background-color: transparent;
    display: block;
    height: 32px;
    margin-right: 0;
    position: relative;
    width: 32px;
    outline: 0;
    &__content {
      position: relative;
      line-height: 10px;
      white-space: nowrap;
    }
    &__avatar {
      height: 28px;
      width: 28px;
      border: 0;
      border-radius: 100%;
      font-size: 12px;
      font-weight: 700;
      line-height: 28px;
      opacity: 1;
      color: #172b4d;
      background-color: #dfe1e6;
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      align-items: center;
      box-sizing: border-box;
      display: inline-flex;
      justify-content: center;
      overflow: hidden;
      white-space: nowrap;
      cursor: pointer;
    }
  }
}
